.code-content {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    color: #D8D827;
    width: 250px;
}

.code {
    display: block;
}

.code.-lf-1 {
    padding-left: 20px;
}

.code.-lf-1.-decoration {
    text-decoration: none;
}