.code-content {
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    color: #D8D827;
    width: 33.333%;
    padding-left: 20px;
}

.code {
    display: block;
}

.code.-lf-1 {
    padding-left: 20px;
}