.css-formatted {
    display: inline-block;
    width: 33.333%;
    padding-top: 15px;
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
    color: #D8D827;
    white-space: pre-line;
}

.code {
    padding-left: 20px
}