.display-prop {
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    color: #FFF;
}

.display-prop-item {
    width: 33.333%;
    padding: 25px 0px 25px 10px;
}

.display-prop-item.-first {
    background-color: #F25A70;
}

.display-prop-item.-second {
    background-color: #7C5E99;
}

.display-prop-item.-third {
    background-color: #4C5B84;
}