.display-prop {
    color: #FFF;
}

.display-prop-item {
    display: block;
    width: 33.333%;
    height: 50px;
    padding-top: 5px;
    font-weight: 300;
    font-size: 14px
}

.display-prop-item.-first {
    background-color: #F25A70;
}

.display-prop-item.-second {
    background-color: #7C5E99;
}

.display-prop-item.-third {
    background-color: #4C5B84;
}