.display-prop {
    color: #FFF;
    text-align: center;
    height: 150px;
}

.display-prop-item {
    display: block;
    width: 33.12%;
    height: 50px;
    align-content: center;
    font-weight: 300;
    font-size: 14px;
}

.display-prop-item.-first {
    background-color: #F25A70;
}

.display-prop-item.-second {
    background-color: #7C5E99;
    margin-left: auto;
    margin-right: auto;
}

.display-prop-item.-third {
    background-color: #4C5B84;
    margin-left: auto;
}