.float-prop {
    color: #FFF;
}

.float-prop-item {
    width: 300px;
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
}

.float-prop-item.-first {
    background-color: #7C5E99;
}

.float-prop-item.-second {
    background-color: #F25A70;
}

.float-prop p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    color: #D8D827;
}