.text-explaining {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    color: #D8D827;
    width: 400px;
    margin-left: 25px;
}

.text-explaining p {
    text-align: justify;
}